* {
    font-family: "FiraCode Nerd Font", monospace;
    font-size: 10px;
}

window#waybar { 
    background: rgba(0, 0, 0, 0.7);
    border: 1.0px solid rgba(277, 0, 130, 0.5);
    border-radius: 20px;
    color: white;
}

#backlight {
    color: #b4165d;
}

#clock {
    color: #b4165d;
    padding-right: 20px;
}

#battery {
    color: #b4165d;
}

#workspaces .active {
    color: #b4165d;
}

#cpu {
    color: #b4165d;
}

#memory {
    color: #b4165d;
}

#network {
    color: #b4165d;
}

#pulseaudio {
    color: #b4165d;
}

#battery.critical {
    color: #b4165d;
}

#battery.low {
    color: #b4165d;
}

